body{
    margin: 0;
    font-family: 'Inter', sans-serif;
}
.flex{
    display: flex;
    
}
.ai{
    align-items: center;
}
header{
    border-bottom: 1px solid #E6E6E6;
}
.nav{
    margin-right: 300px;
}
.pd{
    padding: 57px 208px 49px;
    
}
.logo{
    margin-right: 123px;
}
.text-17-600{
    font-size: 17px;
    font-weight: 600;
    line-height: 21px;

}
.text-17-500{
    font-size: 17px;
    font-weight: 500;
    line-height: 21px;
    color: #D9D9D9;
}
.gr{
    color: #979391;

}
.icon{
    width: 52px;
    height: 52px;
    border: 1px solid #ECECEC;
    position: relative;
}
.cl{
    background-color: #748E9C;
    margin-left: 18px;
}
.jc-sb{
    justify-content: space-between;
}
.mini-icon{
    position: absolute;
    left: 15px;
    top: 10px;
}
.mr-32{
    margin-right: 32px;
}